# This is Jeopardy!

In [58]:
#In order to display the full contents of a column, we've added this line of code for you:

import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [59]:
#Load data

data = pd.read_csv('jeopardy.csv')

In [60]:
#Column names

column_name_list = list(data.columns)
column_name_list

['Show Number',
 ' Air Date',
 ' Round',
 ' Category',
 ' Value',
 ' Question',
 ' Answer']

In [61]:
#Rename columns

data.rename(columns={' Air Date':'Air Date', ' Round': 'Round', ' Category': 'Category'
                      , ' Value': 'Value', ' Question': 'Question', ' Answer': 'Answer'}, inplace = True)


list(data.columns)

['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [62]:
#Function that finds questions containing all given words from the list

def find_question_with_words_in_list(lst, df):
  len_lst = len(lst)
  result_df = pd.DataFrame(columns = data.columns)
  for ind in df.index:
    sum_words_in_question = 0
    for word in lst:
      if word in df.Question[ind]:
        sum_words_in_question += 1
    if sum_words_in_question == len_lst:
      result_df = result_df.append(df.iloc[ind])
  return result_df


a = find_question_with_words_in_list(['King', 'England'], data)

a

,Show Number,Air Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,$100,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,$600,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici
33294,5589,2008-12-18,Jeopardy!,THE BAYEUX TAPESTRY,$600,"(Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.) Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href=""http://www.j-archive.com/media/2008-12-18_J_08.jpg"" target=""_blank"">Stigant</a>, this archbishop, who performed the ceremony",the Archbishop of Canterbury
41148,5925,2010-05-21,Double Jeopardy!,TREATIES,$1600,"This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick",Louis XIV
41357,2751,1996-07-15,Jeopardy!,HISTORIC NAMES,$400,"England's King Henry VIII had 3 wives named Catherine: Catherine Howard, Catherine of Aragon & this one",Catherine Parr
43122,3937,2001-10-16,Double Jeopardy!,"OH, HENRY!",$400,The father of England's King Edward VI,Henry VIII
47814,4365,2003-07-18,Double Jeopardy!,POTIONS,$2000,This steak sauce was created for King George IV of England,A1
49994,5499,2008-07-03,Jeopardy!,REIGN DROPS,$1000,"Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",Edward VI
51115,3574,2000-03-02,Jeopardy!,ALL THINGS BRITISH,$200,"(<a href=""http://www.j-archive.com/media/2000-03-02_J_22.jpg"" target=""_blank"">Alex Trebek reads from England.</a>) In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter",Magna Carta
51565,4264,2003-02-27,Double Jeopardy!,MUSIC APPRECIATION,$800,"He wrote several anthems, including ""The King Shall Rejoice"", for the coronation of England's King George II",George Frideric Handel
56600,3533,2000-01-05,Double Jeopardy!,FRENCH HISTORY,$600,This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133,Le Mans
57516,4299,2003-04-17,Double Jeopardy!,"THE ""UN""CATEGORY",$2000,Famous (& rather insulting) adjective for England's King Ethelred II,"""the Unready"""
58949,6250,2011-11-18,Double Jeopardy!,ASSUME THE POSITION,$2000,He became King of England in 1399 after forcing his cousin Richard II from the throne,Henry IV
71808,5270,2007-07-06,Jeopardy!,WHERE THERE'S A WILLIAM,$1000,"Number of the William who was England's ""Sailor King"" from 1830 to 1837",IV
74235,2757,1996-09-03,Jeopardy!,WORLD HISTORY,$200,Barons & churchmen drew up this 1215 document to reduce the power of England's King John,The Magna Carta
77195,3656,2000-06-26,Jeopardy!,JUNE 26,$400,"He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field",Richard III
79457,4230,2003-01-10,Double Jeopardy!,CONQUERORS,$800,"On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings",William the Conqueror
80113,5827,2010-01-05,Jeopardy!,"""M"" & ""M""",$1000,"England's King Charles II was known by this ""jovial"" nickname","""the Merry Monarch"""
84639,1558,1991-05-15,Jeopardy!,FILMS OF THE '90S,$200,"He went from second banana on ""Roseanne"" to top banana of England in ""King Ralph""",John Goodman
86412,1837,1992-09-08,Double Jeopardy!,ROYALTY,$400,This country's King Olaf V was born in England & was the grandson of King Edward VII,Norway
89710,5390,2008-02-01,Double Jeopardy!,"""CAN""NED WORDS",$1600,This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign,Canute
111926,1331,1990-05-21,Jeopardy!,"FILE UNDER ""M""","$1,000","It begins ""John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine....""",Magna Carta
118809,1905,1992-12-11,Jeopardy!,KINGS & QUEENS,$300,In French this King of England is called Guillaume le Conquerant,William the Conqueror
123299,4656,2004-11-29,Jeopardy!,CHAIRS,$400,"If you want to be crowned King of England, this rock has to be in your coronation chair",the Stone of Scone
123671,5718,2009-06-17,Jeopardy!,A YEAR ENDING IN '09,$1000,King Henry VII of England dies,1509
125822,4042,2002-03-12,Double Jeopardy!,"PAINT IT ""BLACK""","$5,000",Famous nickname of the eldest son of England's King Edward III,the Black Prince
127484,1325,1990-05-11,Double Jeopardy!,MEDIEVAL PEOPLE,$600,Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country,Denmark
127758,6021,2010-11-15,Jeopardy!,STATE FACTS,$600,This state was named for the King of England who reigned from 1727 to 1760,Georgia
129106,4906,2006-01-02,Double Jeopardy!,HISTORIC NICKNAMES,$2000,"King Edward I of England, who fought William Wallace, had this nickname relating to his height","""Longshanks"""
130208,5222,2007-05-01,Jeopardy!,ROYALTY,$600,"This ""Sun King"" sniffed, ""England is a little garden full of sour weeds""",Louis XIV
137818,3368,1999-04-07,Jeopardy!,PEOPLE IN HISTORY,$400,The last King William to rule England had this number after his name,IV
143434,1882,1992-11-10,Double Jeopardy!,ART,$800,This Flemish artist painted a unique triple portrait of England's King Charles I around 1637,Anthony van Dyck
150880,4790,2005-06-03,Double Jeopardy!,20th CENTURY BRITISH HISTORY,$1200,"During Stanley Baldwin's term as P.M., this King of England abdicated",King Edward VIII
165110,4255,2003-02-14,Jeopardy!,HIGH COUP,$1000,"The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I",Oliver Cromwell
165197,6272,2011-12-20,Double Jeopardy!,TOUCHED BY AN ANGEL,$2000,"The ""Angel of Hadley"" is said to have saved a New England town during the war with this Indian ""King""",King Philip
170007,5455,2008-05-02,Double Jeopardy!,THE SWEET 1600s,$1600,"In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England",William of Orange
174055,2143,1993-12-22,Double Jeopardy!,HISTORIC PEOPLE,$200,This conqueror was crowned King of England on Christmas Day 1066,William
175259,3055,1997-12-05,Double Jeopardy!,THE 1930s,$400,His short reign as King of England fell in in 1936,King Edward VIII
183462,3099,1998-02-05,Final Jeopardy!,ROYALTY,None,"A capital in the West Indies is named for this family name of William of Orange, King of England",Nassau
186239,5339,2007-11-22,Double Jeopardy!,EUROPEAN HISTORY,$800,"He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting",Richard the Lionheart
187651,5264,2007-06-28,Jeopardy!,CAPITALS OF THE WEST INDIES,$600,This Bahamian capital took its name from the family name of King William III of England,Nassau
191579,5453,2008-04-30,Jeopardy!,BATTLES,$800,England's King Harold II lost the all-important Battle of Hastings in this year,1066
192265,6292,2012-01-17,Double Jeopardy!,NORWAY'S CULTURE & HISTORY,$1600,"(<a href=""http://www.j-archive.com/media/2012-01-17_DJ_25.jpg"" target=""_blank"">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.",Edward VII
192966,6175,2011-06-17,Double Jeopardy!,HERO SANDWICH,$800,England's King _____ _____ R. Luce,John Henry
194516,6114,2011-03-24,Double Jeopardy!,THE YUCKS STOP HERE,$1600,"The ""Monty Python"" member who played King Arthur, he ended his grail quest in Maidstone, England",Graham Chapman
200369,2937,1997-05-13,Jeopardy!,BRITISH HISTORY,$200,8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country,Wales

In [63]:
#Function that finds questions containing all given words from the list - 2nd version

def find_question_with_words_in_list_2nd(lst, df):
  len_lst = len(lst)
  result_df = pd.DataFrame(columns = data.columns)
  for ind in df.index:
    sum_words_in_question = 0
    for word in lst:
      if ' ' + word + ' ' in df.Question[ind] or ' ' + word.lower() + ' ' in df.Question[ind]:
        sum_words_in_question += 1
    if sum_words_in_question == len_lst:
      result_df = result_df.append(df.iloc[ind])
  return result_df


find_question_with_words_in_list_2nd(['King', 'England'], data)

,Show Number,Air Date,Round,Category,Value,Question,Answer
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4
18076,3227,1998-09-22,Double Jeopardy!,WORLD HISTORY,$1000,In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus,Richard the Lionhearted
19168,3109,1998-02-19,Jeopardy!,HISTORIC WORLD LEADERS,$300,"He was the only king of England to have ""The Great"" tacked on to his name",Alfred
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
23979,4664,2004-12-09,Double Jeopardy!,MEDIEVAL TIMES,$2000,"This ""unready"" king of England lost most of his country to Sven Forkbeard, the king of Denmark",Aethelred the Unready
26780,2118,1993-11-17,Double Jeopardy!,THE MIDDLE AGES,"$1,200",This king of England was killed by a Norman arrow at the Battle of Hastings,Harold II
33174,1333,1990-05-23,Jeopardy!,THE CRUSADES,$200,This king of England was a leader of the Third Crusade,Richard I (Richard the Lionhearted)
49994,5499,2008-07-03,Jeopardy!,REIGN DROPS,$1000,"Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",Edward VI
57479,4299,2003-04-17,Jeopardy!,FACTS & FIGURES,$800,He was the last of the 3 men who were king of England during 1066,William the Conqueror
58949,6250,2011-11-18,Double Jeopardy!,ASSUME THE POSITION,$2000,He became King of England in 1399 after forcing his cousin Richard II from the throne,Henry IV
66520,5626,2009-02-09,Jeopardy!,THE FIRST MILLENNIUM A.D.,$1000,"This king called ""the Great"" beat the Danes in 886 to keep all of England from being conquered",Alfred
72582,2754,1996-07-18,Double Jeopardy!,ROYALTY,$400,This current king of Jordan received part of his education in England at Harrow & Sandhurst,King Hussein
77195,3656,2000-06-26,Jeopardy!,JUNE 26,$400,"He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field",Richard III
78510,3169,1998-05-14,Double Jeopardy!,A LONG TIME AGO,$800,"Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this ""house""",Plantagenet
82525,2251,1994-05-23,Double Jeopardy!,BRITISH HISTORY,"$1,000","The ""rump"" parliament wanted him to be the last king England would ever name",Charles I
86412,1837,1992-09-08,Double Jeopardy!,ROYALTY,$400,This country's King Olaf V was born in England & was the grandson of King Edward VII,Norway
89710,5390,2008-02-01,Double Jeopardy!,"""CAN""NED WORDS",$1600,This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign,Canute
90084,4871,2005-11-14,Jeopardy!,THAT'S MY ROYAL NICKNAME,$400,"He was ""the Confessor"" king of England in the 11th century",Edward
94425,3868,2001-05-30,Double Jeopardy!,THE KINGS OF ENGLAND,$200,From 1714 to 1830 every king of England had this name,George
95019,3662,2000-07-04,Double Jeopardy!,CELEBRATING THE IV,$400,"Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830",George IV
103704,2857,1997-01-21,Double Jeopardy!,RULERS,$1000,This king of England was the grandfather of Elizabeth I,Henry VII
115727,2585,1995-11-24,Double Jeopardy!,WORLD HISTORY,$1000,"In 1191, Berengaria married this king of England in Limassol, Cyprus",Richard the Lionheart
118809,1905,1992-12-11,Jeopardy!,KINGS & QUEENS,$300,In French this King of England is called Guillaume le Conquerant,William the Conqueror
127484,1325,1990-05-11,Double Jeopardy!,MEDIEVAL PEOPLE,$600,Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country,Denmark
127758,6021,2010-11-15,Jeopardy!,STATE FACTS,$600,This state was named for the King of England who reigned from 1727 to 1760,Georgia
137818,3368,1999-04-07,Jeopardy!,PEOPLE IN HISTORY,$400,The last King William to rule England had this number after his name,IV
140080,3020,1997-10-17,Jeopardy!,WORLD HISTORY,$200,"In 1191 this ""Lion-Hearted"" king of England captured Cyprus & Acre during the Crusades",Richard I
140941,5557,2008-11-04,Double Jeopardy!,FOREIGN-BORN LEADERS,$2000,Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled,James II
148910,3527,1999-12-28,Double Jeopardy!,THE CRUSADES,$200,"On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed",Richard the Lionhearted
150622,1150,1989-09-08,Double Jeopardy!,BRITISH ROYALTY,$200,The only king of England named Stephen was the grandson of this conqueror,William the Conqueror
150880,4790,2005-06-03,Double Jeopardy!,20th CENTURY BRITISH HISTORY,$1200,"During Stanley Baldwin's term as P.M., this King of England abdicated",King Edward VIII
151335,4289,2003-04-03,Jeopardy!,LOTTO FEVER,$1000,"2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont",Richard Branson
151746,314,1985-11-21,Jeopardy!,NURSERY RHYMES,$300,"Colchester, England was named for this legendary Celtic king immortalized in rhyme",Old King Cole
158120,4633,2004-10-27,Double Jeopardy!,POTENTATE POTABLES,$1200,"This Dutch-born English king introduced gin to England as the ""pouring spirit"" in the palace at Hampton Court",William III
159374,3789,2001-02-08,Double Jeopardy!,LONG LIVE THE KING!,"$1,500",A translation of the Bible is named for this king of England & Scotland,James (I)
159378,3789,2001-02-08,Double Jeopardy!,LONG LIVE THE KING!,$800,This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives,Henry VIII
167337,1312,1990-04-24,Double Jeopardy!,ROYALTY,"$2,000",The last Anglo-Saxon king of England was killed in this battle,Battle of Hastings (which Harold II lost)
174055,2143,1993-12-22,Double Jeopardy!,HISTORIC PEOPLE,$200,This conqueror was crowned King of England on Christmas Day 1066,William
175259,3055,1997-12-05,Double Jeopardy!,THE 1930s,$400,His short reign as King of England fell in in 1936,King Edward VIII
178590,3718,2000-11-01,Jeopardy!,HISTORY,$500,He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199,Richard the Lionhearted
178921,4573,2004-06-23,Jeopardy!,RICHARD III,$200,Richard was crowned king of England at this place of worship,Westminster Abbey
186239,5339,2007-11-22,Double Jeopardy!,EUROPEAN HISTORY,$800,"He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting",Richard the Lionheart
190102,4211,2002-12-16,Jeopardy!,THINK ABOUT IT,$800,The man who became king of England in 1066 was succeeded by this king in 1087,William II
191531,5911,2010-05-03,Double Jeopardy!,HE DIED A DEADLY DEATH,$400,"On Jan. 28, 1547, after a physical & mental decline, this king of England was (surprisingly) survived by his wife Catherine",Henry VIII
195099,3590,2000-03-24,Double Jeopardy!,ENGLISH MONARCHS,$600,"In 1714 the Prince of Hanover, who spoke little English, became king of England under this name",George I
200369,2937,1997-05-13,Jeopardy!,BRITISH HISTORY,$200,8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country,Wales
208742,4863,2005-11-02,Double Jeopardy!,BEFORE & AFTER,"$3,000",Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish,William of Orange roughy
216021,1881,1992-11-09,Double Jeopardy!,HISTORIC NAMES,$1000,"His nickname was ""Bertie"", but he used this name & number when he became king of England in 1901",Edward VII

In [64]:
import datetime

#For delete sign $ from first place of string Value column, only 1-time use 
for ind in data.Value.index:
  data.Value[ind] = data.Value[ind][1:]

#Change 'one' word to string '1' for further changing in float type
data.Value.replace('one', '1', inplace = True)

#Change from original , grupp point to empty space
data.Value = data.Value.str.replace(',','')

#Converting column Value to float format
convert_dict = {'Value': float}

data = data.astype(convert_dict)

#Converting column Air Date to datetime format
data['Air Date'] = pd.to_datetime(data['Air Date'])

#Mean for subset of data
subset = find_question_with_words_in_list(['King', 'England'], data)

subset.Value.mean()

<ipython-input-64-8517454ef856>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Value[ind] = data.Value[ind][1:]

918.3877551020408

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [69]:
#Function that counts the most frequently repeated answers to questions containing words from the list

def count_answears_to_question_with_words_in_list(lst, df):
  len_lst = len(lst)
  questions = df.Question
  result_df = pd.DataFrame(columns = data.columns)
  for ind in data.index:
    sum_words_in_question = 0
    for word in lst:
      if " " + word + " " in data.Question[ind] or " " + word.lower() + " " in data.Question[ind] or word in data.Question[ind]:
        sum_words_in_question += 1
    if sum_words_in_question == len_lst:
      result_df = result_df.append(data.iloc[ind])
  count_values = result_df.Answer.value_counts()
  return count_values

count_answears_to_question_with_words_in_list(['King'], data).head(20)

Henry VIII       32
Sweden           25
Norway           23
Solomon          22
Richard III      21
Louis XIV        19
David            15
France           15
Belgium          15
Louis XVI        14
Charles I        14
Denmark          14
Charlemagne      14
Scotland         13
Saul             12
Portugal         12
James I          12
Morocco          11
King Lear        10
Benny Goodman    10
Name: Answer, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [66]:
#Grouped rounds and the most repeated categories

data[['Round', 'Category']].value_counts().groupby(level = 'Round').head(5)

Round             Category
Double Jeopardy!  BEFORE & AFTER             450
                  LITERATURE                 381
                  SCIENCE                    296
Jeopardy!         STUPID ANSWERS             255
                  POTPOURRI                  255
Double Jeopardy!  WORLD GEOGRAPHY            254
Jeopardy!         SPORTS                     253
Double Jeopardy!  OPERA                      250
Jeopardy!         ANIMALS                    233
                  AMERICAN HISTORY           227
Final Jeopardy!   U.S. PRESIDENTS             50
                  WORD ORIGINS                34
                  STATE CAPITALS              31
                  AUTHORS                     27
                  WORLD LEADERS               26
Tiebreaker        CHILD'S PLAY                 1
                  LITERARY CHARACTERS          1
                  THE AMERICAN REVOLUTION      1
dtype: int64

In [67]:
#Grouped rounds and the most repeated in each category

data.groupby('Round')['Category'].apply(lambda g: g.value_counts().head(5))

Round
Double Jeopardy!  BEFORE & AFTER             450
                  LITERATURE                 381
                  SCIENCE                    296
                  WORLD GEOGRAPHY            254
                  OPERA                      250
Final Jeopardy!   U.S. PRESIDENTS             50
                  WORD ORIGINS                34
                  STATE CAPITALS              31
                  AUTHORS                     27
                  WORLD LEADERS               26
Jeopardy!         STUPID ANSWERS             255
                  POTPOURRI                  255
                  SPORTS                     253
                  ANIMALS                    233
                  AMERICAN HISTORY           227
Tiebreaker        CHILD'S PLAY                 1
                  THE AMERICAN REVOLUTION      1
                  LITERARY CHARACTERS          1
Name: Category, dtype: int64

In [68]:
#Function that adds a random question n times

def draw_question(df, number_of_question):
  for time in range(number_of_question):
    random_data = data.sample()[['Question', 'Answer']]
    print(random_data.Question)
    answer = input('Type your answer')
    if answer == str(random_data.Answer):
      print('Okay!')
    else:
      print('This is incorrect answer! Correct answer is ' + str(random_data.Answer.values[0]))

draw_question(data, 2)

22875    In 1931 architect Alfred M. Butts developed this board-&-tile game, calling it Crisscrosswords
Name: Question, dtype: object
Type your answera
This is incorrect answer! Correct answer is Scrabble
17886    Your heart's right ventricle pumps blood only to this pair of organs
Name: Question, dtype: object
Type your answerb
This is incorrect answer! Correct answer is Lungs